{{#if superheroes.length}}
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div>Superheroes on duty!</div>  
    <div><a href="/addSuperhero" class="btn btn-primary">Add new superhero</a></div>
  </li>
  {{#each superheroes}}
  <li class="list-group-item">
    <div class="container " >
        <div class="row">
          {{#if filename.[0]}}
          <div class="col-3 d-flex justify-content-center align-items-center "><img src='data:{{contentType.[0]}};base64,{{imageBase64.[0]}}' alt="" class="col-sm img-fluid"></div>
          {{else}}
          <div class="col-3 d-flex justify-content-center align-items-center "><img src='../uploads/blankHero.png' alt="" class="col-sm img-fluid"></div>
          {{/if}}
          <div class="col-9 d-flex justify-content-center align-items-center "> <span>{{nickname}}</span> </div>
        </div>
        {{>accordion}}
    </div>
  </li>
  {{/each}}
</ul>

{{else}}
<p>We need a hero!</p>
{{/if}}