<h2>Superhero page</h2>

{{#if superheroes.length}}
<ul>
  {{#each superheroes}}
  <li class="todo">
    <form action="/saveSuperhero" method="POST">
      <label>
        <span>
            nickname: {{nickname}}, real_name: {{real_name}}, origin_description: {{origin_description}},
            superpowers: {{superpowers}}, catch_phrase: {{catch_phrase}}, images:{{images}}
        </span>
        <input type="hidden" value="{{_id}}" name="id">

        <button class="btn btn-small" type="submit">Save</button>
      </label>
    </form>
  </li>
  {{/each}}
</ul>
{{else}}
<p>We need a hero!</p>
{{/if}}